[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bitiplz
[access "refs/for/refs/*"]
	read = group user/bitiplz
	push = group user/bitiplz
	label-Code-Review = -2..+2 group user/bitiplz
	label-Verified = -1..+1 group user/bitiplz
	rebase = group user/bitiplz
	removeReviewer = group user/bitiplz
	submit = group user/bitiplz
[access "refs/heads/*"]
	read = group user/bitiplz
	create = group user/bitiplz
	push = +force group user/bitiplz
	pushMerge = group user/bitiplz
[access "refs/tags/*"]
	push = group user/bitiplz
	push = +force group user/bitiplz
